body {
    background-color: #f9f7fe;
      font-family: "Roboto", sans-serif;
}

a {
    color: #4a90e2;
    text-decoration: none;
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 3px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header{
    border-bottom: 1px solid #e6e0f8;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
   width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

main {
    padding: 30px 0;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
   margin: 0px;
   font-size: 38px;
   line-height: 48px;
}

.weather-app-details {
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.weather-app-details strong {
    color: #074791;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
}

.weather-app-temperature {
    font-size: 88px;
    line-height: 88px;
    margin-left: 10px;
    font-weight: bold;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperatures {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color:  rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

footer{
    border-top: 1px solid #e6e0f8;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}